<br>
<h3>Register</h3>
<div class="p-fluid p-formgrid p-grid">

  <div class="p-field p-col-12 p-md-6">
    <label for="email">Name</label>
    <input id="name" type="text" pInputText>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="email">Email</label>
    <input id="email" type="email" pInputText>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="password">Password</label>
    <input id="password" type="password" pInputText>
  </div>

  <div class="p-field p-col-12 p-md-6">
    <label for="password_confirmation">Confirm Password </label>
    <input id="password_confirmation" type="password" pInputText>
  </div>

</div>
<br>
<div class="p-text-light">Already have an account? <a [routerLink]="'/login'">login</a></div>
